# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
build/
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.xcworkspace

# IDE
.idea/
.vscode/
*.iml

# Environment
.env
.env.local
